<nav class="navbar bg-light mt-5 shadow-lg rounded ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img width="60px" src="\images\icons8-image-100.png" alt=""></a>
    <ul class="mt-4">
      <li class="fs-5" style="list-style: none;"><a class=" text-dark text-decoration-none" href="/">Show Gallery</a></li>
    </ul>
    <form class="d-flex" role="search">
      <button class="btn btn-outline-success" type="submit"><a href="/add">➕</a></button>
    </form>
  </div>
</nav>